.breadcrumb {
  display: flex;
  padding: 20px 0;
}

.breadcrumb-item {
  margin-left: 3%;

  &:first-of-type {
    margin-left: 0;
  }
}

.breadcrumb-link {
  display: flex;
  align-items: center;

  color: $grey2;
  font-size: 1.4rem;
}

.breadcrumb-icon {
  display: inline-block;
  width: 18px;
  margin-right: 10px;

  &:first-of-type {
    margin-left: 0;
  }
}
