.header {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
  padding-top: 16px;

  @include media('>=medium') {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: $grey-box-shadow;
    background-image: linear-gradient(
      to right,
      $purple,
      $purple 300.45px,
      $white 15%,
      $white 100%
    );
  }
}

.header-group-1-and-nav {
  @include media('>=medium') {
    display: flex;
    align-items: center;
  }

  @include media('>=medium', '<desktop-header-break') {
    width: 100%;
    position: relative;
  }
}

.header-group-1 {
  align-items: center;
  display: flex;
  justify-content: space-between;

  @include media('>=medium', '<desktop-header-break') {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  @include media('>=desktop-header-break') {
    display: block;
  }
}

.header-logo {
  line-height: 1;

  /* Make logo width match sidebar */
  @include media('>=medium') {
    display: block;
    width: 278.45px;
  }

  @include media('>=large') {
    width: 260.45px;
  }
}

.header-logo__image {
  height: 40px;

  @include media('>=medium') {
    height: 50px;

    path {
      fill: white;
    }
  }
}

.headerMenu-button {
  border: 0;
  padding: 4px 10px;
}

.dotmenu-button {
  padding: 4px 20px 4px 0px;
}

.hamburger-button {
  padding: 4px 0px 4px 20px;
}

.headerMenu-button__image {
  height: 24px;
  stroke: $dark;
}

.header-nav {
  padding: 20px 0;
  position: relative;

  @include media('>=medium') {
    padding: 0;
  }

  @include media('>=medium', '<desktop-header-break') {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 50px;
    background-color: $white;
    padding: 20px;
    border: $border-grey2 1px solid;
    border-radius: 8px;
  }
}

.header-nav-list {
  @include media('>=medium', '<desktop-header-break') {
    flex-direction: column;
    padding-left: 0;
  }

  @include media('>=desktop-header-break') {
    display: flex;
    padding-left: $large-gutter;
  }
}

.header-nav-list__item {
  border-top: $border-grey2 1px solid;
  font-size: 1.4rem;
  padding: 15px 0;
  padding-left: 7px;

  @include media('>=medium') {
    border-top: 0;
    margin-right: 40px;
    padding: 0;

    &:last-of-type {
      margin-right: 0;
    }
  }

  @include media('>=medium', '<desktop-header-break') {
    margin-right: 0;
    padding: 10px 0;
    padding-right: 30px;
    border-top: $border-grey2 1px solid;

    &:first-of-type {
      border-top: 0;
    }
  }
}

.header-link {
  position: relative;

  @include media('>=medium', '<desktop-header-break') {
    &:hover {
      color: $purple;
    }
  }

  @include media('>=desktop-header-break') {
    &:hover {
      text-decoration: none;

      &:after {
        content: '';
        background: $purple;
        position: absolute;
        bottom: -5px;
        width: 100%;
        height: 4px;
        display: block;
        border-radius: 4px 4px 0px 0px;
      }
    }
  }
}

.all-header-icons {
  display: flex;
  align-items: center;

  &.h-hidden-1296-down {
    @include media('<desktop-header-break') {
      display: none;
    }
  }
}

.header-icon {
  position: relative;

  @include media('>=medium') {
    margin-right: 30px;
    display: inline-block;
    align-self: center;

    &.message-icon {
      height: 20px;
    }

    &.notification-icon {
      height: 24px;
    }
  }
}

.header-icon__count {
  align-items: center;
  background: $red;
  border-radius: 50%;
  color: $border-grey1;
  display: flex;
  font-size: 10px;
  font-weight: $medium;
  height: 15px;
  justify-content: center;
  left: 13px;
  padding: 1px;
  position: absolute;
  top: -13px;
  width: 15px;

  @include media('>medium') {
     top: -6px;
  }
}

.header-avater-container.h-hidden-medium-up {
  border-bottom: $border-grey2 1px solid;
}

.header-avatar {
  border-radius: 50%;
  padding: 4px;
  height: 44px;
  width: 44px;
  border: 1px solid $border-grey1;
}
