.top-bar {
  align-items: center;
  box-shadow: $grey-box-shadow;
  padding-top: 10px;
  padding-bottom: 40px;
  width: 100%;
  @extend %gutters;

  &.h-hidden-medium-down {
    @include media('<medium') {
      display: none;
    }
  }

  @include media('>=medium') {
    box-shadow: $grey-box-shadow;
    display: flex;
    padding-top: 10px;
    padding-bottom: 12px;
  }
}
