.billing-bar-container {
  background-color: $white;
  height: 450px;

  @include media('>=medium') {
    height: 547px;
  }

  &.h-mt {
    margin-top: 30px;
  }
}

.billing-bill-tables {
  @include media('>=medium') {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
}

.billing-bill-table-container {
  background-color: $white;
  margin-top: 30px;
  overflow: auto;
  padding-bottom: 52px;
  width: 100%;

  @include media('>=1248px') {
    width: 50%;
  }
}

.billing-bill-table {
  min-width: 500px;
  width: 100%;

  th,
  td {
    font-size: 1.3rem;
    font-weight: $light;
    padding: 12px 16px;
    text-align: left;

    span {
      margin: 0 15px;

      &:first-of-type {
        margin-left: 0;
      }
      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  tr:nth-child(odd) {
    background-color: $purplegrey;
  }
}

.billing-table-caption {
  border-bottom: 0.5px solid $border-grey1;
  color: $dark;
  font-size: 1.8rem;
  font-weight: $medium;
  padding: 30px 16px 12px;
}

.billing-bill-table__first-row {
  th,
  td {
    font-weight: $regular;
  }
}

.usage-and-metrics-tables {
  @include media('>=1210px') {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &.h-hide {
    display: none;
  }
}

.billing-metrics-table {
  background-color: $white;
  border-collapse: separate;
  border-spacing: 0;
  margin-top: 30px;
  padding-bottom: 52px;
  padding-top: 15px;
  width: 100%;

  @include media('>=1210px') {
    width: 49%;
  }

  td {
    border: 0;
    font-size: 1.6rem;
    font-weight: $light;
    padding: 12px 16px;
    text-align: left;
  }

  tbody {
    tr:nth-child(odd) {
      background-color: $purplegrey;
    }
  }

  tfoot {
    td {
      font-weight: $medium;
    }
  }

  .metric-name {
    font-weight: $regular;
  }
}

.billing-usage-table-container {
  background-color: $white;
  margin-top: 30px;
  padding-bottom: 52px;

  @include media('>=1210px') {
    width: 49%;
  }
}

.billing-usage-table {
  width: 100%;

  th,
  td {
    padding: 12px 16px;
    font-size: 1.6rem;
    text-align: left;
  }

  th {
    font-weight: $regular;
    border-bottom: 0.5px solid $border-grey1;
  }

  td {
    font-weight: $light;
  }
}
