.cost-tracker-section {
  margin-bottom: 70px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.cost-tracker-chart-container {
  background-color: $white;
  margin-bottom: 30px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.cost-tracker-branch-name {
  font-size: 1.8rem;
  font-weight: $medium;
  padding: 30px 10px 10px;
  text-align: center;
}

.cost-tracker-chart-wrapper {
  background-color: $white;
  height: 450px;

  @include media('>=medium') {
    height: 547px;
  }
}

.cost-tracker-forms-content-wrapper {
  background-color: $white;
  padding: 16px;
  padding-bottom: 40px;

  @include media('>=medium') {
    padding: 24px;
    padding-bottom: 40px;
  }
}

.cost-tracker-form-section {
  margin-top: 90px;

  @include media('>=medium') {
    margin-top: 120px;

    &:first-of-type {
      margin-top: 50px;
    }
  }

  &:first-of-type {
    margin-top: 40px;
  }
}

.cost-tracker-form-section__heading {
  color: $turquoise-blue;
  font-size: 1.8rem;
  font-weight: $medium;
}

.cost-tracker-form {
  margin-top: 24px;

  @include media('>=1086px') {
    display: flex;
    flex-direction: column;
  }
}

.cost-tracker-form-inputs-wrapper {
  @include media('>=1086px') {
    display: flex;
    align-items: flex-start;
  }
}

.cost-tracker-input-label {
  display: inline-block;
  font-weight: $light;
  margin-bottom: 8px;
}

.cost-tracker-input-container {
  margin-top: 30px;

  @include media('>=1086px') {
    margin-right: 20px;
    width: 100%;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.cost-tracker-input,
.cost-tracker-select {
  border-radius: 4px !important;
}

.cost-tracker-input {
  border: 1px solid $border-grey4;
  color: scale-color($black, $lightness: 35%);
  display: block;
  font-size: 1.4rem;
  height: 40px;
  padding: 8px 11px;
  width: 100%;

  &::placeholder {
    color: $grey4;
  }
}

.cost-tracker-select {
  display: block;
}

.cost-tracker-form-submit-button {
  background-color: $purple;
  border: 0;
  color: $white;
  display: block;
  font-size: 1.2rem;
  font-weight: $bold;
  margin-top: 30px;
  padding: 12.5px 0;
  width: 100%;

  @include media('>=1086px') {
    max-width: 178px;
    align-self: flex-end;
  }
}
