.cost-tracker-section {
  margin-bottom: 30px;
  border-radius: $medium-border;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.cost-tracker-chart-container {
  background-color: $white;
  margin-bottom: 30px;

  border-radius: $medium-border;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.cost-tracker-branch-name {
  font-size: 2.3rem;
  font-weight: $medium;
  padding: 30px 10px 10px;
  text-align: center;
}

.cost-tracker-chart-wrapper {
  background-color: $white;
  height: 450px;

  border-radius: $medium-border;

  @include media('>=medium') {
    height: 547px;
  }
}

.cost-tracker-forms-content-wrapper {
  background-color: $white;
  padding: 16px;
  padding-bottom: 40px;

  @include media('>=medium') {
    padding: 24px;
  }
}

.cost-tracker-form-section {
  margin-top: 90px;

  @include media('>=medium') {
    margin-top: 120px;

    &:first-of-type {
      margin-top: 50px;
    }
  }

  &:first-of-type {
    margin-top: 40px;
  }
}

.cost-tracker-form {
  margin-top: 24px;

  @include media('>=1086px') {
    display: flex;
    flex-direction: column;
  }
}

.cost-tracker-form-inputs-wrapper {
  @include media('>=1086px') {
    display: flex;
    align-items: flex-start;
  }
}

.cost-tracker-input-label {
  font-size: 1.4rem;

  @include media('>=1086px') {
    font-size: 1.6rem;
  }
}

.cost-tracker-input-container {
  margin-top: 30px;
  padding: 0 8px;

  @include media('>=1086px') {
    margin-right: 20px;
    width: 100%;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.ant-checkbox-inner {
  width: 32px;
  height: 32px;
}

.cost-tracker-input,
.cost-tracker-select {
  border-radius: 4px !important;
}

.cost-tracker-select {
  display: block;
}

.post-date-range-picker {
  height: 40px;
  width: 100%;
  color: scale-color($black, $lightness: 35%);
  border-radius: 4px !important;
}

.utitily-overview-table {
  .ant-pagination {
    margin-right: 20px;
  }
}

.flow-meter-upload-file {
  .ant-btn-icon-only {
    margin-top: 0px !important
  }

  .ant-upload.ant-upload-select {
    width: 100%;
  }

  .ant-upload-list-text {
    max-width: 350px;
  }
}