.parameter-section {
  margin-bottom: 70px;
}

.parameter-section__heading {
  font-size: 24px;
  font-weight: $medium;
  text-align: center;
}

.parameters-stacked-bar-container {
  background-color: $white;
  height: 450px;

  border-radius: $medium-border;

  @include media('>=medium') {
    height: 547px;
  }
}

.power-demand-table-wrapper,
.energy-consumption-table-wrapper,
.time-of-use-table-wrapper {
  overflow: auto;
}
