.password-page-container {
  background-color: $white;
  padding: 16px;
  padding-bottom: 40px;

  @include media('>=medium') {
    padding: 24px 50px 80px;
  }

  @include media('>=1455px') {
    padding: 24px 86px 80px;
  }
}

.password-form {
  max-width: 1000px;
  margin: auto;
}

.password-input-container {
  margin-top: 30px;
}

.old-password-container {
  @include media('>=1086px') {
    width: 100%;
    margin-top: 96px;
  }
}

.old-password-input {
  @include media('>=1086px') {
    width: 47.4%;
  }
}

.new-passwords-container {
  @include media('>=1086px') {
    display: flex;
    width: 100%;
    margin-top: 50px;
  }
}

.new-password-container {
  @include media('>=1086px') {
    width: 50%;

    &.h-first {
      margin-right: 5%;
    }
  }
}

.password-error-message {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.password-error-icon {
  flex-shrink: 0;

  &.h-red-icon {
    path {
      fill: $red;
    }
  }
}

.password-error-text {
  margin-left: 8px;
  color: $purple;
  font-size: 1.3rem;
  font-weight: $semi-bold;

  &.h-red-text {
    color: $red;
  }
}

.change-password-button {
  @include media('>=1086px') {
    margin-top: 60px;
  }
}
