.power-quality-section {
  margin-bottom: 70px;
}

.power-quality-line-container {
  background-color: $white;
  height: 450px;
  margin-top: 30px;
  border-radius: $medium-border;

  @include media('>=medium') {
    height: 547px;
  }
}

.power-quality-table-container {
  background-color: $white;
  margin-top: 30px;
  overflow: auto;
  padding-top: 24px;

  border-radius: $medium-border;

  @include media('>=medium') {
    padding-top: 16px;
  }
}
