.power-demand-bar-container {
  background-color: $white;
  height: 450px;

  @include media('>=medium') {
    height: 547px;
  }
}

.power-demand-table-container {
  background-color: $white;
  margin-top: 30px;
  padding-top: 24px;
  padding-bottom: 8px;

  @include media('>=medium') {
    padding-top: 16px;
  }
}

.power-demand-table-wrapper {
  overflow: auto;
}
