.score-card-row-1 {
  @include media('>1122px') {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @include media('>=1510px') {
    justify-content: space-between;
  }
}

.score-card-row-1__item {
  background-color: $white;
  margin-bottom: 30px;
  min-height: 477px;
  padding: 24px;
  padding-bottom: 42px;

  @include media('>1122px') {
    flex-basis: 356px;
    flex-gap: 10px;
    margin-right: 30px;
    width: auto;
    &:last-of-type {
      margin-right: 0;
    }
  }

  @include media('>=1510px') {
    flex-grow: 1;
  }
}

.score-card-heading {
  font-size: 1.6rem;
  font-weight: $regular;
}

.score-card-doughnut-container {
  align-items: center;
  display: flex;
  height: 200px;
  justify-content: center;
  margin: 50px 0;
  position: relative;
}

.doughnut-centre-text {
  left: 50%;
  margin-top: 20px;
  position: absolute;
  transform: translateX(-50%);

  span {
    display: block;
    text-align: center;
  }
}

.score-card-bottom-text {
  font-size: 1.4rem;
}

.score-card-bottom-text-small {
  display: block;
  font-size: 1.2rem;
}

.score-card-message-with-icon {
  align-items: center;

  p {
    margin-right: 9px;
  }
}

.score-card-row-2 {
  background-color: $white;
  margin-bottom: 30px;
  overflow: auto;
}

.changeover-lags-heading {
  margin-bottom: 14px;
  padding: 16px;
}

.score-card-row-3 {
  background-color: $white;
  margin-bottom: 30px;
  padding: 24px;
}

.score-card-bar-chart-container {
  position: relative;

  .h-flex {
    justify-content: space-between;

    @include media('<406px') {
      flex-direction: column;
    }
  }
}

.score-card-bar-chart__text-wrapper {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  font-size: 1.4rem;
  padding: 10px 12px;

  @include media('<406px') {
    margin-top: 30px;
    max-width: 180px;
  }

  p {
    font-weight: $light;
    margin-bottom: 8px;

    &:last-of-type {
      margin-bottom: 0px;
    }
  }
  strong {
    font-weight: $regular;
  }
}

.score-card-bar-chart__chart-wrapper {
  min-height: 400px;
  padding-top: 40px;
}

.score-card-row-4 {
  @include media('>1122px') {
    display: flex;
    justify-content: space-between;
  }
}

.score-card-row-4__left,
.score-card-row-4__right {
  background-color: $white;
  padding: 24px;

  @include media('>1530px') {
    flex-grow: 1;
  }
}

.score-card-row-4__left {
  margin-bottom: 30px;

  @include media('>1122px') {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.gen-efficiency-doughnut-and-text,
.fuel-consumption-doughnut-and-text {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 90px 0;

  @include media('<418px') {
    flex-direction: column;
  }

  &:first-of-type {
    margin-top: 50px;
  }
  &:last-of-type {
    margin-bottom: 60px;
  }
}

.gen-efficiency-doughnut-container,
.fuel-consumption-doughnut-container {
  align-items: center;
  display: flex;
  height: 230px;
  justify-content: center;
  margin-right: 10%;
  max-width: 190px;
  position: relative;

  @include media('<418px') {
    margin-right: 0;
  }
}

.gen-efficiency-doughnut-centre-text,
.fuel-consumption-doughnut-centre-text {
  left: 50%;
  margin-top: 20px;
  position: absolute;
  transform: translateX(-50%);

  span {
    display: block;
    text-align: center;
  }
}

.gen-efficiency-text-container,
.fuel-consumption-text-container {
  text-align: center;
  width: auto;
}

.gen-efficiency-device-name,
.fuel-consumption-device-name {
  text-decoration: underline;
  text-transform: uppercase;
}

.gen-efficiency-middle-text,
.fuel-consumption-middle-text {
  margin: 10px 0;
}

.gen-efficiency-footer-text,
.fuel-consumption-footer-text {
  font-size: 1.4rem;
}
