.sidebar-and-content {
  width: 100%;

  @include media('>=medium') {
    display: flex;
  }
}

.sidebar {
  color: $purple;
  padding-top: 10px;
  text-align: center;
  @extend %gutters;

  @include media('>=medium') {
    align-self: flex-start;
    background-color: $purple;
    border-top: $border-grey1 solid 1px;
    color: $white;
    min-height: 100vh;
    min-width: 300.45px;
    padding-right: 24px;
    padding-top: 50px;
    position: sticky;
    top: 0;
  }
}

.sidebar-org-container {
  width: 100%;
}

.sidebar-org__details {
  align-items: center;
  display: flex;
  font-weight: $semi-bold;
  justify-content: space-between;

  label {
    white-space: nowrap;
  }
}

.sidebar-org__button,
.sidebar-branch__button {
  align-items: center;
  border: 0;
  display: flex;
  padding: 8px 0 8px 24px;

  @include media('>=medium') {
    padding: 8px 4px 8px 4px;
  }
}

.sidebar-branch,
.sidebar-device {
  padding-left: 4%;
}

.sidebar-branch__details {
  align-items: center;
  display: flex;
  font-size: 1.4rem;
  font-weight: $medium;
  justify-content: space-between;
  padding-top: 10px;
}

.sidebar-branch__button {
  opacity: 0.75;
}

.sidebar-branch__checkbox,
.sidebar-device__checkbox {
  border-radius: 2px;
  margin-right: 15px;

  @include media('>=medium') {
    color: $white;
  }
}

.sidebar-branch__checkbox {
  font-weight: $medium;
}

.sidebar-device__details {
  font-size: 1.4rem;
  padding-bottom: 12px;
  padding-top: 12px;
  text-align: left;
  width: 100%;
}

.sidebar-device__checkbox {
  font-size: 1.4rem;
}
