/*
/*--------------------------------------------------------------
# Small Components: Buttons
--------------------------------------------------------------*/
.short-button {
  border: 0;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: $bold;
  padding: 9.8px 22px;
}

.short-button--purple {
  background-color: $purple;
  color: $white;
}

.center-main-heading {
  font-size: 2.4rem;
  font-weight: $medium;
  text-align: center;
}

.form-section-heading {
  color: $turquoise-blue;
  font-size: 1.8rem;
  font-weight: $medium;
}

.input-error-message {
  color: $red;
  font-size: 1.4rem;
}

.generic-input-label {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: $light;
  margin-bottom: 8px;
  white-space: nowrap;

  @include media('>=1086px') {
    font-size: 1.6rem;
  }
}

.generic-input {
  border: 1px solid $border-grey4;
  border-radius: 4px;
  color: scale-color($black, $lightness: 35%);
  display: block;
  font-size: 1.4rem;
  height: 40px;
  padding: 8px 11px;
  width: 100%;

  &::placeholder {
    color: $grey4;
  }
}

.generic-submit-button {
  background-color: $purple;
  border: 0;
  color: $white;
  display: block;
  font-size: 1.2rem;
  font-weight: $bold;
  margin-top: 30px;
  padding: 12.5px 0;
  width: 100%;

  @include media('>=1086px') {
    align-self: flex-end;
    max-width: 178px;
  }
}

.table-with-header-container {
  background-color: $white;
  margin-top: 30px;
  padding-bottom: 8px;
  padding-top: 24px;

  border-radius: $medium-border;

  @include media('>=medium') {
    padding-top: 16px;
  }

  &.h-no-mt {
    margin-top: 0;
  }
}

// Table header styles
.table-header {
  padding-bottom: 24px;

  @include media('>=medium') {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 16px 24px;
  }

  &.h-border-bottom {
    border-bottom: 0.5px solid $border-grey1;
  }
}

.table-header__heading {
  font-size: 20px;
  font-weight: $medium;
  text-align: center;
}

.table-header__left-button {
  background-color: $grey3;
  border: 0;
  border-radius: 0;
  font-size: 1.4rem;
  padding: 12px 16px;

  &:hover {
    background-color: $border-grey1;
  }
}

.table-header__right-button {
  align-items: center;
  border: 0;
  color: $grey2;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  justify-content: center;
  padding: 0;

  @include media('<medium') {
    display: none;
  }

  span {
    margin-top: 4.5px;
  }
}

.table-row-button {
  border: 1px solid $purple;
  border-radius: 3px;
  color: $purple;
  display: flex;
  font-weight: $medium;
  padding: 6px 16px;
  line-height: 1.15;

  &.h-greyed-out {
    border: 1px solid $grey4;
    color: $grey4;
  }

  &.table-row-button--link {
    display: inline-block;
  }

  svg {
    margin-left: 5px;
  }
}
