/*
/*--------------------------------------------------------------
# Small Components: Buttons
--------------------------------------------------------------*/
.short-button {
  border: 0;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: $bold;
  padding: 9.8px 22px;
}

.short-button--purple {
  background-color: $purple;
  color: $white;
}

.center-main-heading {
  font-weight: $medium;
  font-size: 2.4rem;
  text-align: center;
}

.input-error-message {
  font-size: 1.4rem;
  color: $red;
}
