.top-bar {
  align-items: center;
  box-shadow: $grey-box-shadow;
  padding-bottom: 40px;
  padding-top: 10px;
  width: 100%;
  @extend %gutters;

  @include media('>=medium') {
    display: flex;
    justify-content: space-between;
    min-height: 62px;
    overflow: auto;
    padding-bottom: 12px;
    padding-top: 10px;
  }

  &.h-hidden-medium-down {
    @include media('<medium') {
      display: none;
    }
  }
}

.top-bar__left {
  align-items: center;

  @include media('>=medium') {
    display: flex;
    justify-content: start;
    min-height: 44px;
    min-width: 291px;
    overflow: auto;
  }
}

.plotted-unit-selector-container,
.switch-table-picker-container,
.time-interval-selector-container {
  margin-top: 30px;

  @include media('>=medium') {
    margin-left: 30px;
    margin-top: 0;
  }
}

.plotted-unit-selector,
.time-interval-selector {
  width: 100%;

  @include media('>=medium') {
    max-width: 230px;
  }
}

.plotted-unit-selector {
  @include media('>=medium') {
    min-width: 180px;
  }
}

.plotted-unit-selector-option,
.time-interval-selector-option {
  font-size: 12px !important;
}

.top-bar-right__button {
  background-color: $purple;
  border-radius: 8px;
  color: $white;
  font-size: 1.2rem;
  font-weight: $bold;
  padding: 12px 13px;
  text-align: center;

  @include media('<medium') {
    display: block;
    margin-top: 30px;
    width: 100%;
  }

  @include media('>=medium') {
    margin-right: 20px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  @include media('>=medium', '<888px') {
    display: block;
    margin: 0 auto 7px;
    text-align: center;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &.h-extra-padding {
    padding: 12px 30px;
  }

  &:hover {
    color: $white;
    opacity: 0.95;
  }
}