// --------------------------------------------
// Colors -------------------------------------
// --------------------------------------------
$white: #ffffff;
$black: #000000;
$dark: #000000;

$purple: #6c00fa;
$light-purple: scale-color($purple, $lightness: 90%);
$light-purple-2: scale-color($purple, $lightness: 80%);
$red: #fa0303;
$green: #1b934e;
$bluegrey: #e0e8f3;
$purplegrey: #f2f2f8;
$light-bluegrey: #eef1f5;

$grey1: #848484;
$grey2: #646464;
$grey3: #e5e5e5;
$grey4: #a3a3a3;

$text-blue: #3d6e92;
$light-blue: #6a8ba3;
$dark-blue: #143861;
$turquoise-blue: #00c7e6;

$border-grey1: #c4c4c4;
$border-grey2: #f0f0f0;
$border-grey3: #dbdee7;
$border-grey4: #d9d9d9;

// --------------------------------------------
// Box Shadows---------------------------------
// --------------------------------------------
$grey-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);

// --------------------------------------------
// Font Weights -------------------------------
// --------------------------------------------
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

// --------------------------------------------
// Font Families ------------------------------
// --------------------------------------------
$default-font: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI,
  Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;

$auth-font: 'Nunito Sans', -apple-system, BlinkMacSystemFont, Segoe UI,
  Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;

$roboto: 'Roboto', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
  sans-serif, Apple Color Emoji, Segoe UI Emoji;

// --------------------------------------------
// Gutters ------------------------------------
// --------------------------------------------
$small-gutter: 16px;
$medium-gutter: 24px;
$large-gutter: 40px;
